.Start{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 700px;
    height: 500px;
    background-color: #286047;
    color: #fff;
    margin-right:250px;
    flex-direction: column;
    font-size: large;
}

.Start-button {
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: medium;
}

.audio{
    align-self: flex-end;
    display: flex;
}

div {
    display: flex;
}