.Start{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 700px;
    height: 500px;
    background-color: #286047;
    color: #fff;
    margin-right:250px;
    flex-direction: column;
}

.audio{
    align-self: flex-end;
    display: flex;
}

div {
    display: flex;
}